/data/*.t7
/src/**/*.swp
/src/.nfs*
/src/.*
/src/log
/src/*.log
/hands/*
/src/ap/*.txt
*.pkl
*.mp4
*.png
*.jpg
*.pyc
*.dat
*.m~
*.swp
*.rar
*.zip
*.npy
/src/poseEstimation/NiTE-2.0.0/Samples/UserViewer/UserViewer/UserViewer.xcodeproj/*
/src/poseEstimation/NiTE-2.0.0/Samples/UserViewer/UserViewer/build/*

